# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnp*
.pnp.loader.mjs

# Build output
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/
e2e/.output/

# Local env files
.env
.env.*.local

# Logs
*.log

# Yarn v2 / PnP
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# TypeScript cache
*.tsbuildinfo
